.main_cont {
  /* background-color: #9ab0b4c4; */
  background: radial-gradient(#c9e6f9d1,#95b6ccba);
  height: 100vh;
}

h1 {
  margin: 0;
} 

 /* background-color: #9ab0b4c4; */
 /* background: radial-gradient(#9ab0b4a4,#555f5ecd);
 height: 100vh; */

 .down-btn-cont {
  animation-name: bounce;
  animation-duration: 900ms;
  animation-iteration-count: infinite;
  animation-delay: 5s;
  background: none;
  border: none;
  width: 100%;
  align-content: center;
  display: flex;
  justify-content: center;
 }

 @keyframes bounce {
  0% {
    margin-top: 0px;

  }

  /* 10% {
    margin-top: -1px;
  }
  25% {
    margin-top: 0px;
  } */
  /* 40% {
    margin-top: 1.5px;
  }*/

  90% {
    margin-top: 7px;
  } 
  100% {
    margin-top: 7px;
  }
 }